<!DOCTYPE html>
<html>

<head>
	<title>
		New Review
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Aggiungi una recensione</h1>
	<form th:action="@{'/user/review/' + ${book.id}} " method="POST" th:object="${review}">
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		
		
    	<div>
        	<label>Voto:</label>
        	<span><input required type="number" min="1" max="5" th:field="${review.rating}" /></span>
        	<span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></span>
   		</div>
    	<div>
        	<label>Commento:</label>
        	<span><input type="text" th:field="${review.comment}" /></span>
        	<span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></span>
   		 </div>
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>