<!DOCTYPE html>
<html>

<head>
	<title>
		New Book
	</title>
	<link rel="stylesheet" href="/css/stile3.css" />
</head>

<body>
	<header>
		<nav>
			<div class="nav__header">
				<div class="nav__logo">
					<a href="#">
						<img src="/images/logo1.png" alt="logo" />
					</a>
				</div>
			</div>
			<ul class="nav__links" id="nav_links">
				<div class="nav__links2"></div>
				<li><a href="#home">Home</a></li>
				<li><a href="/book">Books</a></li>
				<li><a href="/author">Authors</a></li>
				</div>
				<ul>
				<li>
           			 <!-- <button class="btn">
							
             		 <span><i class="ri-login-box-line"></i></span>
             		<a href="/login" class="log">Login</a>
            		</button> -->
				<div th:if="${userDetails}">
                <b th:text="${userDetails.username}" class="username"></b>
                <button class="btn" type="button"><a href="/logout" class="log">Logout</a></button>
            </div>
            <div th:unless="${userDetails}">
                <button class="btn" type="button">
                <a href="/login" class="log"><span><i class="ri-login-box-line"></i></span>Login</a>
                </button>
            </div>
          		</li>
          		
			</ul>
		</nav>
	</header>

	<div class="container2">
		<div class="menu">
			<h1>Update book</h1>
			<div th:if="${book}">
				<div>
					<span th:text="${book.title}">Up!</span>
					<span th:text="'(' + ${book.year} + ')'">2000</span>
				</div>
				<div th:if="${book.author}">
					<span>Author: </span><span th:text="${book.author.name} + ' ' + ${book.author.surname}">Steven
						Spielberg</span>
					<a th:href="@{'/admin/addAuthor/' + ${book.id}}">Change author</a></span>
				</div>
				<div th:unless="${book.author}">
					<a th:href="@{'/admin/addAuthor/' + ${book.id}}">Add author</a>
				</div>
				<a th:href="@{'/admin/delete' + '/' + ${book.id}}">Delete</a>
		
				<div th:unless="${book}">Film non esistente</div>
		</div>
	</div>
</body>

</html>