<!DOCTYPE html>
<html>

<head>
	<title>BookFair</title>
	<!-- Links -->
	<link rel="stylesheet" href="/css/stile4.css" /> 
	<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="icon" src="/static/favicon.png">
</head>

<body>
	<header>
		<nav>
			<div class="nav__header">
				<div class="nav__logo">
					<a href="#">
						<img src="/images/logo1.png" alt="logo" />
					</a>
				</div>
			</div>
			<ul class="nav__links" id="nav_links">
				<div class="nav__links2"></div>
				<li><a href="#home">Home</a></li>
				<li><a href="/book">Books</a></li>
				<li><a href="/author">Authors</a></li>
				</div>
				<ul>
				<li>
           			 <!-- <button class="btn">
							
             		 <span><i class="ri-login-box-line"></i></span>
             		<a href="/login" class="log">Login</a>
            		</button> -->
				<div th:if="${userDetails}">
                <b th:text="${userDetails.username}" class="username"></b>
                <button class="btn" type="button"><a href="/logout" class="log">Logout</a></button>
            </div>
            <div th:unless="${userDetails}">
                <button class="btn" type="button">
                <a href="/login" class="log"><span><i class="ri-login-box-line"></i></span>Login</a>
                </button>
            </div>
          		</li>
          		
			</ul>
		</nav>
		
		<div class="section__container header__container" id="home">
			<h1>Good books and good friends</h1>
			<p>
				Track your reading, discover new titles, and connect with a community of fellow book lovers. 
				Share reviews, get personalized recommendations, and join in on exciting reading challenges. 
				Your next great read is just a click away — what will you read next?
			</p>
			<div class="header_btns">
				<button class="btn">
					<a href="/book">Discover more!</a>
				</button>
			</div>
		</div>
	</header>
	
	<section class="menu" id="menu">
		<div class="section__container menu__container">
			<h2 class="section__header">Trending books</h2>
			<a href="/book">
          		View All
         		 <i class="ri-arrow-right-long-line"></i>
        	</a>
        	<div class="menu__grid">
				<div class="menu__card">
					<img src="https://m.media-amazon.com/images/I/51V5PZXFdVL._SY445_SX342_.jpg" alt="alternatetext">
					<div class="menu__card__content">
						<h4>Babel</h4>
						<h3>R.F. Kuang</h3>
					</div>
				</div>
				<div class="menu__card">
					<img src="https://m.media-amazon.com/images/I/51V5PZXFdVL._SY445_SX342_.jpg" alt="alternatetext">
					<div class="menu__card__content">
						<h4>Babel</h4>
						<h3>R.F. Kuang</h3>
					</div>
				</div>
				<div class="menu__card">
					<img src="https://m.media-amazon.com/images/I/51V5PZXFdVL._SY445_SX342_.jpg" alt="alternatetext">
					<div class="menu__card__content">
						<h4>Babel</h4>
						<h3>R.F. Kuang</h3>
					</div>
				</div>
				<div class="menu__card">
					<img src="https://m.media-amazon.com/images/I/51V5PZXFdVL._SY445_SX342_.jpg" alt="alternatetext">
					<div class="menu__card__content">
						<h4>Babel</h4>
						<h3>R.F. Kuang</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__col">
          <div class="logo footer__logo">
            <a href="#home">BookFair</a>
          </div>
          <p>
            Discover new books and discuss them with our community!
          </p>
          <div class="footer__socials">
            <a href="#"><i class="ri-facebook-fill"></i></a>
            <a href="#"><i class="ri-twitter-fill"></i></a>
            <a href="#"><i class="ri-instagram-fill"></i></a>
            <a href="#"><i class="ri-pinterest-fill"></i></a>
            <a href="#"><i class="ri-linkedin-fill"></i></a>
          </div>
        </div>
        <div class="footer__col">
          <h4>Quick Links</h4>
          <ul class="footer__links">
            <li><a href="#">Explore Books</a></li>
            <li><a href="#">Discover New Authors</a></li>
            <li><a href="#">Join our Community</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>Company</h4>
          <ul class="footer__links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="footer__col">
          <h4>Contact Us</h4>
          <ul class="footer__links">
            <li><a href="#">Customer Support</a></li>
            <li><a href="#">Business Inquiries</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__bar">
        Copyright 2025 All rights reserved.
      </div>
    </footer>
    
	<script src="/js/main.js"></script>
</body>

</html>